@tailwind base;
@tailwind components;
@tailwind utilities;

/* 스크롤은 되지만 스크롤바는 보이지 않게 */
.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}
.scrollbar-hidden {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
